<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed Component</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"
          rel="stylesheet">
    <div class="abs-100">
        <div class="pane feed-pane">
            <div class="feed-header open-sans-font">
                <h2>Feed Views</h2>
            </div>
            <div class="feed-content scroll-y">
                {% for result in results %}
                <div class="feed-element-container"><h3>{{result}}</h3></div>

                {% endfor %}
            </div>
        </div>
    </div>
</head>
<body>

</body>
</html>